@page "/"

<PageTitle>Home</PageTitle>

<section class="d-flex justify-center">
    <MudCard>
        <MudCardHeader Class="mud-theme-primary">
            <MudText>Release Notes</MudText>
        </MudCardHeader>

        <MudCardContent>
            <MudText Typo="Typo.subtitle2">v0.1.0</MudText>
            <MudList DisablePadding="true" Dense="true">
                <MudListItem>Added required relics page</MudListItem>
                <MudListItem>Added required ships page</MudListItem>
                <MudListItem>Added relic cost page</MudListItem>
            </MudList>
        </MudCardContent>
    </MudCard>
</section>
