@page "/required-relics"
@using Microsoft.Extensions.Localization;
@using Wayfinder.Services.RequiredUnits;

@inject IStringLocalizer<Localization> _localization

<MudCard>
    <MudCardHeader Class="mud-theme-primary">
        <MudText>Required Relics</MudText>
    </MudCardHeader>

    <MudList>

        @if (_viewModel.Units is not null)
        {
            var units = _viewModel.Units.OrderBy(x => _localization[x.UnitId].Value);
            foreach (var unit in units)
            {
                <MudListItem>
                    <strong>@(_localization[unit.UnitId]):</strong>
                    <span> </span>

                    @{
                        bool isFirst = true;
                        foreach (var item in unit.Details)
                        {
                            if (!isFirst)
                            {
                                <span>, </span>
                            }

                            <span>@(_localization[item.Level].Value) (@(_localization[item.GoalUnitId]))</span>
                            isFirst = false;
                        }
                    }
                </MudListItem>
            }
        }

    </MudList>
</MudCard>

