@page "/"

<PageTitle>Home</PageTitle>

<div class="card" aria-hidden="true">
    <div class="card">
        <div class="card-header">
            Release notes
        </div>
        <div class="card-body">
            <p class="card-text">v0.0.3: Added required ships page</p>
            <p class="card-text">v0.0.2: Added required relics page</p>
            <p class="card-text">v0.0.1: Added index page</p>
        </div>

        <!-- <div class="card-header">
            Community
        </div>
        <div class="card-body">
            <p class="card-text"><a href="#" tabindex="0" class="">Join our Discord server</a></p>
            <p class="card-text"><a href="#" tabindex="1" class="">Join the Order Alliance</a></p>
        </div> -->
    </div>
</div>
