.relic-list {
    background-color: var(--bs-body-bg);
    color: var(--bs-card-color);
}

    .relic-list .list-group-item {
        background-color: inherit;
        color: inherit;
    }

    .relic-list p {
        margin-bottom: 0;
        margin-right: 6px;
    }

.relic-box {
    width: 60px;
    margin-right: 6px;
}

    .relic-box img {
        height: 30px;
        margin-right: 4px;
    }
