@page "/relic-costs"

<div class="card" aria-hidden="true">
    <div class="card">
        <div class="card-header">
            Relic cost
        </div>
        <div class="card-body">
            <h5 class="card-title">Cost per relic level</h5>

            <div class="list-group relic-list">
                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R1:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>40</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R2:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>15</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R3:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>15</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R4:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>25</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R5:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>25</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>15</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R6:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_electriumconductors.png"
                             alt="Electrium Conductors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>25</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>25 </p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R7:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_electriumconductors.png"
                             alt="Electrium Conductors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_zinbiddlecard.png" alt="Zinbiddle Cards">
                        <p>10</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>25</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>35</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R8:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_electriumconductors.png"
                             alt="Electrium Conductors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_zinbiddlecard.png" alt="Zinbiddle Cards">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aeromagnifier.png" alt="Aeromagnifier">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_impulsedetector.png" alt="Impulse Detectors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>25</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>45 </p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R9:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_electriumconductors.png"
                             alt="Electrium Conductors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_zinbiddlecard.png" alt="Zinbiddle Cards">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aeromagnifier.png" alt="Aeromagnifier">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_impulsedetector.png" alt="Impulse Detectors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_gyrdakeypad.png" alt="Gyrda Keypads">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_droidbrain.png" alt="Droid Brains">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>55 </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title">Total relic cost</h5>

            <div class="list-group relic-list">
                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R3:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>100</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>80</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>35</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>15</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R4:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>130</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>120</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>60</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>55</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>40</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R5:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>160</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>160</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>90</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>75</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>65</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>15</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R6:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>180</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>190</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>120</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_electriumconductors.png"
                             alt="Electrium Conductors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>95</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>90</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>40 </p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R7:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>200</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>220</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>140</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>60</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_electriumconductors.png"
                             alt="Electrium Conductors">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_zinbiddlecard.png" alt="Zinbiddle Cards">
                        <p>10</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>115</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>115</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>75</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R8:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>200</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>220</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>160</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>80</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_electriumconductors.png"
                             alt="Electrium Conductors">
                        <p>60</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_zinbiddlecard.png" alt="Zinbiddle Cards">
                        <p>30</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aeromagnifier.png" alt="Aeromagnifier">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_impulsedetector.png" alt="Impulse Detectors">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>135</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>140</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>120</p>
                    </div>
                </div>

                <div class="d-flex flex-wrap list-group-item">
                    <div class="d-flex align-items-center">
                        <p>R9:</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_carbonitecicuitboard.png"
                             alt="Carbonite Circuit Board">
                        <p>200</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_bronsiumwiring.png" alt="Bronzium Wiring">
                        <p>220</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_chromiumtransisters.png"
                             alt="Chromium Transistors">
                        <p>180</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aurodiumheatsink.png"
                             alt="Aurodium Heatsinks">
                        <p>100</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_electriumconductors.png"
                             alt="Electrium Conductors">
                        <p>80</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_zinbiddlecard.png" alt="Zinbiddle Cards">
                        <p>50</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_aeromagnifier.png" alt="Aeromagnifier">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_impulsedetector.png" alt="Impulse Detectors">
                        <p>40</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_gyrdakeypad.png" alt="Gyrda Keypads">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_droidbrain.png" alt="Droid Brains">
                        <p>20</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data01.png" alt="Fragmented Signal Data">
                        <p>165</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data02.png" alt="Incomplete Signal Data">
                        <p>170</p>
                    </div>
                    <div class="d-flex align-items-center relic-box">
                        <img src="_content/Wayfinder.Pages/images/tex.scavenger_data03.png" alt="Flawed Signal Data">
                        <p>175</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
