@page "/required-relics"

<div class="card" aria-hidden="true">
    <div class="card">
        <div class="card-header">
            Required Relics
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>0-0-0:</strong> R5 (Aphra)</li>
            <li class="list-group-item"><strong>50R-T:</strong> R5 (Leviathan)</li>
            <li class="list-group-item"><strong>Aayla Secura:</strong> R3 (JMK)</li>
            <li class="list-group-item"><strong>Admiral Ackbar:</strong> R3 (Leia)</li>
            <li class="list-group-item"><strong>Admiral Piett:</strong> R8 (Executor), R5 (SEE)</li>
            <li class="list-group-item"><strong>Admiral Raddus:</strong> R9 (Profundity)</li>
            <li class="list-group-item"><strong>Amilyn Holdo:</strong> R5 (Rey)</li>
            <li class="list-group-item"><strong>ARC Trooper:</strong> R8 (LV)</li>
            <li class="list-group-item"><strong>Aurra Sing:</strong> R6 (Jabba)</li>
            <li class="list-group-item"><strong>Bastila Shan:</strong> R7 (Leviathan)</li>
            <li class="list-group-item"><strong>BB-8:</strong> R7 (Rey)</li>
            <li class="list-group-item"><strong>Biggs Darklighter:</strong> R3 (JMLS)</li>
            <li class="list-group-item"><strong>Bistan:</strong> R5 (Profundity)</li>
            <li class="list-group-item"><strong>Boba Fett:</strong> R8 (Executor), R7 (Jabba)</li>
            <li class="list-group-item"><strong>Bo-Katan Kryze:</strong> R5 (JMK)</li>
            <li class="list-group-item"><strong>Bossk:</strong> R5 (Executor)</li>
            <li class="list-group-item"><strong>Boushh (Leia Organa):</strong> R5 (Jabba), R5 (Leia)</li>
            <li class="list-group-item"><strong>BT-1:</strong> R5 (Aphra)</li>
            <li class="list-group-item"><strong>C-3PO:</strong> R7 (Jabba), R5 (JMLS), R3 (JKL)</li>
            <li class="list-group-item"><strong>Cad Bane:</strong> R5 (JMK)</li>
            <li class="list-group-item"><strong>Captain Drogan:</strong> R7 (Leia)</li>
            <li class="list-group-item"><strong>Captain Han Solo:</strong> R5 (Leia), R3 (JKL)</li>
            <li class="list-group-item"><strong>Captain Phasma:</strong> R5 (SLKR)</li>
            <li class="list-group-item"><strong>Captain Rex:</strong> R7 (Leia)</li>
            <li class="list-group-item"><strong>Cassian Andor:</strong> R8 (Profundity)</li>
            <li class="list-group-item"><strong>CC-2224 "Cody":</strong> R5 (JMK)</li>
            <li class="list-group-item"><strong>Chewbacca:</strong> R6 (JMLS), R3 (JKL)</li>
            <li class="list-group-item"><strong>Chief Chirpa:</strong> R3 (Leia)</li>
            <li class="list-group-item"><strong>Clone Sergeant - Phase I:</strong> R5 (JMK)</li>
            <li class="list-group-item"><strong>Colonel Starck:</strong> R3 (SEE)</li>
            <li class="list-group-item"><strong>Commander Luke Skywalker:</strong> R7 (Leia), R3 (JKL)</li>
            <li class="list-group-item"><strong>Count Dooku:</strong> R8 (LV), R6 (SEE)</li>
            <li class="list-group-item"><strong>CT-210408 "Echo":</strong> R7 (LV)</li>
            <li class="list-group-item"><strong>Darth Malak:</strong> R9 (Leviathan)</li>
            <li class="list-group-item"><strong>Darth Maul:</strong> R7 (Leviathan), R4 (SEE)</li>
            <li class="list-group-item"><strong>Darth Revan:</strong> R9 (Leviathan)</li>
            <li class="list-group-item"><strong>Darth Sidious:</strong> R7 (SEE)</li>
            <li class="list-group-item"><strong>Darth Talon:</strong> R5 (Starkiller)</li>
            <li class="list-group-item"><strong>Darth Vader:</strong> R7 (SEE), R7 (Executor), R3 (JKL)</li>
            <li class="list-group-item"><strong>Dash Rendar:</strong> R7 (Profundity), R5 (Starkiller)</li>
            <li class="list-group-item"><strong>Dengar:</strong> R5 (Executor)</li>
            <li class="list-group-item"><strong>Director Krennic:</strong> R4 (SEE)</li>
            <li class="list-group-item"><strong>Echo (Bad Batch):</strong> R5 (LV)</li>
            <li class="list-group-item"><strong>Eighth Brother:</strong> R5 (GI)</li>
            <li class="list-group-item"><strong>Embo:</strong> R5 (LV)</li>
            <li class="list-group-item"><strong>Emperor Palpatine:</strong> R7 (SLKR), R7 (SEE)</li>
            <li class="list-group-item"><strong>Fennec Shand:</strong> R7 (Jabba)</li>
            <li class="list-group-item"><strong>Fifth Brother:</strong> R5 (GI)</li>
            <li class="list-group-item"><strong>Finn:</strong> R5 (Rey)</li>
            <li class="list-group-item"><strong>First Order Executioner:</strong> R5 (SLKR)</li>
            <li class="list-group-item"><strong>First Order Officer:</strong> R5 (SLKR)</li>
            <li class="list-group-item"><strong>First Order Special Forces TIE Pilot:</strong> R3 (SLKR)</li>
            <li class="list-group-item"><strong>First Order Stormtrooper:</strong> R5 (SLKR)</li>
            <li class="list-group-item"><strong>First Order TIE Pilot:</strong> R3 (SLKR)</li>
            <li class="list-group-item"><strong>Gamorrean Guard:</strong> R3 (Jabba)</li>
            <li class="list-group-item"><strong>General Grievous:</strong> R7 (JMK)</li>
            <li class="list-group-item"><strong>General Hux:</strong> R5 (SLKR)</li>
            <li class="list-group-item"><strong>General Kenobi:</strong> R8 (JMK)</li>
            <li class="list-group-item"><strong>General Skywalker:</strong> R8 (LV)</li>
            <li class="list-group-item"><strong>General Veers:</strong> R3 (SEE)</li>
            <li class="list-group-item"><strong>Grand Admiral Thrawn:</strong> R6 (SEE)</li>
            <li class="list-group-item"><strong>Grand Master Yoda:</strong> R8 (JMK)</li>
            <li class="list-group-item"><strong>Grand Moff Tarkin:</strong> R3 (SEE), R7 (LV)</li>
            <li class="list-group-item"><strong>Greedo:</strong> R6 (Jabba)</li>
            <li class="list-group-item"><strong>Han Solo:</strong> R8 (Jabba), R6 (JMLS)</li>
            <li class="list-group-item"><strong>Hera Syndulla:</strong> R5 (Profundity)</li>
            <li class="list-group-item"><strong>Hermit Yoda:</strong> R5 (JMLS), R3 (JKL)</li>
            <li class="list-group-item"><strong>HK-47:</strong> R7  (Leviathan)</li>
            <li class="list-group-item"><strong>Hondo Ohnaka:</strong> R5 (Aphra)</li>
            <li class="list-group-item"><strong>Hunter:</strong> R5 (LV)</li>
            <li class="list-group-item"><strong>IG88:</strong> R5 (Executor)</li>
            <li class="list-group-item"><strong>Jango Fett:</strong> R7 (JMK)</li>
            <li class="list-group-item"><strong>Jawa:</strong> R3 (Jabba)</li>
            <li class="list-group-item"><strong>Jedi Knight Anakin Skywalker:</strong> R7 (SEE)</li>
            <li class="list-group-item"><strong>Jedi Knight Luke Skywalker:</strong> R7 (JMLS), R7 (Jabba)</li>
            <li class="list-group-item"><strong>Jyn Erso:</strong> R5 (Profundity)</li>
            <li class="list-group-item"><strong>Krrsantan:</strong> R5 (Jabba)</li>
            <li class="list-group-item"><strong>Kyle Katarn:</strong> R5 (Starkiller)</li>
            <li class="list-group-item"><strong>Kylo Ren:</strong> R7 (SLKR)</li>
            <li class="list-group-item"><strong>Kylo Ren (Unmasked):</strong> R7 (SLKR)</li>
            <li class="list-group-item"><strong>Lando Calrissian:</strong> R5 (Leia), R5 (JMLS), R3 (JKL)</li>
            <li class="list-group-item"><strong>Lobot:</strong> R3 (Leia)</li>
            <li class="list-group-item"><strong>Mace Windu:</strong> R3 (JMK)</li>
            <li class="list-group-item"><strong>Magnaguard:</strong> R5 (JMK)</li>
            <li class="list-group-item"><strong>Mara Jade:</strong> R5 (Starkiller)</li>
            <li class="list-group-item"><strong>Mob Enforcer:</strong> R3 (Jabba)</li>
            <li class="list-group-item"><strong>Mon Mothma:</strong> R5 (JMLS), R5 (Profundity)</li>
            <li class="list-group-item"><strong>Ninth Sister:</strong> R5 (GI)</li>
            <li class="list-group-item"><strong>Nute Gunray:</strong> R7 (LV)</li>
            <li class="list-group-item"><strong>Obi Wan Kenobi (Old Ben):</strong> R5 (JMLS)</li>
            <li class="list-group-item"><strong>Padme Amidala:</strong> R8 (LV)</li>
            <li class="list-group-item"><strong>Poe Dameron:</strong> R5 (Rey)</li>
            <li class="list-group-item"><strong>Princess Kneesaa:</strong> R7 (Leia)</li>
            <li class="list-group-item"><strong>Princess Leia:</strong> R3 (JMLS)</li>
            <li class="list-group-item"><strong>Qui Gon Jinn:</strong> R3 (JMK)</li>
            <li class="list-group-item"><strong>R2-D2:</strong> R8 (Leia), R7 (JMLS)</li>
            <li class="list-group-item"><strong>Rebel Officer Leia Organa:</strong> R5 (Leia), R3 (JKL)</li>
            <li class="list-group-item"><strong>Resistance Hero Finn:</strong> R5 (Rey)</li>
            <li class="list-group-item"><strong>Resistance Hero Poe Dameron:</strong> R5 (Rey)</li>
            <li class="list-group-item"><strong>Resistance Pilot:</strong> R3 (Rey)</li>
            <li class="list-group-item"><strong>Resistance Trooper:</strong> R5 (Rey)</li>
            <li class="list-group-item"><strong>Rey (Jedi Training):</strong> R7 (Rey), R7 (JMLS)</li>
            <li class="list-group-item"><strong>Rey (Scavenger):</strong> R7 (Rey)</li>
            <li class="list-group-item"><strong>Rose Tico:</strong> R5 (Rey)</li>
            <li class="list-group-item"><strong>Royal Guard:</strong> R3 (SEE)</li>
            <li class="list-group-item"><strong>Sana Starros:</strong> R5 (Aphra)</li>
            <li class="list-group-item"><strong>Scout Trooper:</strong> R7 (Leia)</li>
            <li class="list-group-item"><strong>Second Sister:</strong> R5 (GI)</li>
            <li class="list-group-item"><strong>Seventh Sister:</strong> R5 (GI)</li>
            <li class="list-group-item"><strong>Shaak Ti:</strong> R7 (JMK)</li>
            <li class="list-group-item"><strong>Sith Assasin:</strong> R5 (Leviathan)</li>
            <li class="list-group-item"><strong>Sith Empire Trooper:</strong> R7 (Leviathan)</li>
            <li class="list-group-item"><strong>Sith Marauder:</strong> R7 (SEE)</li>
            <li class="list-group-item"><strong>Sith Trooper:</strong> R7 (Leviathan), R5 (SLKR)</li>
            <li class="list-group-item"><strong>Skiff Guard (Lando Calrissian):</strong> R5 (Jabba)</li>
            <li class="list-group-item"><strong>Tech:</strong> R5 (LV)</li>
            <li class="list-group-item"><strong>Threepio & Chewie:</strong> R7 (Leia), R5 (JMLS)</li>
            <li class="list-group-item"><strong>TIE Fighter Pilot:</strong> R5 (Executor)</li>
            <li class="list-group-item"><strong>Tusken Raider:</strong> R5 (LV)</li>
            <li class="list-group-item"><strong>URoRRuR'R'R:</strong> R4 (Jabba)</li>
            <li class="list-group-item"><strong>Veteran Chewbacca:</strong> R3 (Rey)</li>
            <li class="list-group-item"><strong>Veteran Smuggler Han Solo:</strong> R3 (SLKR)</li>
            <li class="list-group-item"><strong>Wampa:</strong> R3 (JKL)</li>
            <li class="list-group-item"><strong>Wat Tambor:</strong> R7 (JMK)</li>
            <li class="list-group-item"><strong>Wedge Antilles:</strong> R3 (JMLS)</li>
            <li class="list-group-item"><strong>Wicket:</strong> R3 (Leia)</li>
            <li class="list-group-item"><strong>Wrecker:</strong> R5 (LV)</li>
            <li class="list-group-item"><strong>Zam Wesell:</strong> R7 (LV)</li>
        </ul>
    </div>
</div>
