@page "/required-ships"

<div class="card" aria-hidden="true">
    <div class="card">
        <div class="card-header">
            Required Relics
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Anakin's Eta-2 Starfighter:</strong> 7* (GAS)</li>
            <li class="list-group-item"><strong>B-28 Extinction-class Bomber:</strong> 7* (Leviathan)</li>
            <li class="list-group-item"><strong>Bigg Darklighter's X-wing:</strong> 7* (Profundity)</li>
            <li class="list-group-item"><strong>Bistan's U-wing:</strong> 7* (Profundity)</li>
            <li class="list-group-item"><strong>Cassian's U-wing:</strong> 7* (Profundity)</li>
            <li class="list-group-item"><strong>Ebon Hawk:</strong> 7* (Leviathan)</li>
            <li class="list-group-item"><strong>FO TIE Fighter:</strong> 7* (Finalizer)</li>
            <li class="list-group-item"><strong>Fury-Class Interceptor:</strong> 7* (Leviathan)</li>
            <li class="list-group-item"><strong>Ghost:</strong> 7* (Profundity), 7* (Chimaera)</li>
            <li class="list-group-item"><strong>Hound's Tooth:</strong> 7* (Finalizer), 7* (Exec)</li>
            <li class="list-group-item"><strong>IG-2000:</strong> 7* (Exec)</li>
            <li class="list-group-item"><strong>Imperial TIE Bomber:</strong> 7* (Exec)</li>
            <li class="list-group-item"><strong>Imperial TIE Fighter:</strong> 7* (Exec)</li>
            <li class="list-group-item"><strong>Kylo Ren's Command Shuttle:</strong> 7* (Finalizer)</li>
            <li class="list-group-item"><strong>Mark VI Interceptor:</strong> 7* (Leviathan)</li>
            <li class="list-group-item"><strong>Negotiator:</strong> 6* (GMK)</li>
            <li class="list-group-item"><strong>Outrider:</strong> 7* (Profundity), 7* (Jabba)</li>
            <li class="list-group-item"><strong>Phantom II:</strong> 7* (Chimaera)</li>
            <li class="list-group-item"><strong>Raddus:</strong> 5* (Rey)</li>
            <li class="list-group-item"><strong>Razor Crest:</strong> 7* (Exec)</li>
            <li class="list-group-item"><strong>Rebel Y-wing:</strong> 7* (Profundity), 6* (JML)</li>
            <li class="list-group-item"><strong>Scimitar:</strong> 7* (Leviathan)</li>
            <li class="list-group-item"><strong>Sith Fighter:</strong> 7* (Leviathan)</li>
            <li class="list-group-item"><strong>Slave I:</strong> 7* (Finalizer), 7* (Exec)</li>
            <li class="list-group-item"><strong>TIE Advanced (x1):</strong> 7* (Finalizer), 7* (Exec)</li>
            <li class="list-group-item"><strong>TIE Dagger:</strong> 7* (Leviathan)</li>
            <li class="list-group-item"><strong>Tie Imperial Bomber:</strong> 6* (SEE)</li>
            <li class="list-group-item"><strong>TIE Silencer:</strong> 7* (Finalizer)</li>
            <li class="list-group-item"><strong>Wedge Antilles's X-wing:</strong> 7* (Profundity)</li>
            <li class="list-group-item"><strong>Xanadu Blood:</strong> 7* (Finalizer)</li>
        </ul>
    </div>
</div>
